# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Super Admin JWT Secret Key
JWT_SECRET="your-jwt-secret-key-here"

# Initial Super Admin User Seeds
ADMIN_EMAIL="admin@whyschool.in"
ADMIN_PASSWORD="Admin@WhySchool2026"
