PORT=5001
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
JWT_SECRET="your-secret-jwt-key"
ADMIN_EMAIL="admin@whyschool.in"
ADMIN_PASSWORD="Admin@WhySchool2026"
FRONTEND_URL="http://localhost:3000"
